<header>
  {{input type='text'
    class='search-box'
    placeholder='Search for a recipe or ingredient'
    value=query
    enter=attrs.search
  }}
</header>
{{#if emptySearchResult}}
  <h2 class="col-md-12 text-center">No recipes found... :( Try something else!</h2>
{{/if}}
<ul class="item-list col-md-12 {{if loading 'loading'}}">
  {{#each recipes as |recipe|}}
    <li class="col-md-6 text-center" {{action "fetchIngredients" recipe on="mouseEnter"}}>
      <div class="recipe">
        {{#link-to "recipes.recipe" recipe.id class="image-link"}}
          <div class="image-container" style="background-image:url({{recipe.image}})">
          </div>
        {{/link-to}}
        <div class="name">
          {{#link-to "recipes.recipe" recipe.id}}
            {{recipe.parsedName}}
          {{/link-to}}
        </div>
      </div>
    </li>
  {{/each}}
</ul>
{{yield}}
