<header>
  {{input type='text'
    class='new-item'
    placeholder='Search for a recipe or ingredient'
    value=query
    enter='search'
  }}
</header>
<ul class="item-list col-md-12">
  {{#each recipes as |recipe|}}
    <li class="col-md-6 text-center" {{action "queryRecord" recipe.id on="mouseEnter"}}>
      <div class="recipe">
        {{#link-to "recipes.recipe" recipe.id class="image-link"}}
          <div class="image-container" style="background-image:url({{recipe.image}})">
          </div>
        {{/link-to}}
        <div class="name">
          {{#link-to "recipes.recipe" recipe.id}}
            {{recipe.name}}
          {{/link-to}}
        </div>
      </div>
    </li>
  {{/each}}
</ul>
{{yield}}
