<section class="col-md-5">
  <div class="right-fixed-column">
    <div class="col-md-12 active-recipe">
      <div class="col-md-6 image" style="background-image:url({{model.image}})">
      </div>
      <div class="col-md-6 details">
        <h2>{{model.parsedName}}</h2>
        <span class="source">
          Source:
          <a href="{{model.source}}" target="_blank">{{model.publisher}}</a>
        </span>
      </div>
      <span class="bar"></span>
    </div>

    <div class="col-md-12 ingredientapp">
      <section class='ingredient-container'>
        {{ingredients-list ingredients=model.ingredients}}
      </section>
    </div>
  </div>
</section>
